<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define the default logging level -->
    <springProperty scope="context" name="log.level" source="logging.level.root" defaultValue="INFO"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="${log.level}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- configuring specific loggers -->
    <logger name="com.rws.ps" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>